.metadata
.recommenders
/RemoteSystemsTempFiles
*/.metadata
*/.idea
*/.settings
*/bin/*
AIEPServer/succeed/*
AIEPServer/z-realdata/*
AIEPServer/upload/*
AIEPServer/res/data/*
AIEPServer/web/com/twzcluster/webserver/jsp/*.class
AIEP-C-Set-Client/FirstCOM
**/Debug/*
**/Release/*
!**/lib/Debug/*
!**/lib/Release/*
AIEP-C-Set-Client/**/*.obj
AIEP-C-Set-Client/**/*.tlog
AIEP-C-Set-Client/**/*.log
AIEP-C-Set-Client/**/*.idb
AIEP-C-Set-Client/**/*.pdb
AIEP-C-Set-Client/**/*.ilk
AIEP-C-Set-Client/**/*.pch
AIEP-C-Set-Client/**/*.bsc
AIEP-C-Set-Client/**/*.sbr
AIEP-C-Set-Client/**/*.tlh
AIEP-C-Set-Client/**/*.tli